swagger: '2.0'
info:
  description: >-
    This is an API that can be integrated by other developers in their web apps
    to manage assignments delivery and exams. We are implemeting a platform
    where teacher can post/modify/delete assignments for a certain class.
    Students then have to send their assignments before the deadline `WorkSend
    github repo:`  [WorkSend](https://github.com/davideuez/WorkSend)
  version: 1.0.0
  title: WorkSend
  contact:
    email: worksend.info@gmail.com
  license:
    name: MIT
    url: 'https://github.com/davideuez/WorkSend/blob/master/LICENSE'
host: worksend.herokuapp.com
basePath: /api/v1
tags:
  - name: USERS
    description: 'operations to sign up, to sign in, and to delete users'
  - name: CLASSES
    description: operations to manage classes
  - name: ASSIGNMENTS
    description: operation for the professor to manage assignments
schemes:
  - https
paths:
  /assigment/v1/user/signup:
    post:
      tags:
        - USERS
      summary: Add a new user in the DB
      description: >-
        Users have to provide a valid email, a password
      operationId: addUser
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          description: User object that needs to be added to the DB
          required: true
          schema:
            $ref: '#/definitions/User'
      responses:
        '201':
          description: User successfully created
        '409':
          description: E-mail already exists
        '500':
          description: Internal Server Error
  /assigment/v1/user/login:
    post:
      tags:
        - USERS
      summary: Add a new user in the DB
      description: >-
        Users have to provide email and password to login and to have access to
        resources
      operationId: loginUser
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          description: User object that needs to be added to the DB
          required: true
          schema:
            $ref: '#/definitions/User'
      responses:
        '200':
          description: Auth successfull
        '401':
          description: Auth failed
        '500':
          description: Internal Server Error
  '/assigment/v1/user/{user_id}':
    delete:
      tags:
        - USERS
      summary: Delete a user
      description: Delete the user with the ID passed in the URL
      operationId: deleteUser
      produces:
        - application/json
      parameters:
        - name: user_id
          in: path
          description: User id to delete
          required: true
          type: string
      responses:
        '200':
          description: User successfuly deleted
        '404':
          description: User not found
        '500':
          description: Internal Server Error
  /assigment/v1/assignments:
    get:
      tags:
        - ASSIGNMENTS
      summary: Return all assignments
      description: It returns an object's array of all assignments
      operationId: findAllAssignments
      produces:
        - application/json
      responses:
        '200':
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/Assignment'
        '500':
          description: Internal Server Error
    post:
      tags:
        - ASSIGNMENTS
      summary: Add a new assignment in the DB
      description: The owner of the class create a new assignment
      operationId: createAssignment
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          description: Assignment object that needs to be added to the DB
          required: true
          schema:
            $ref: '#/definitions/Assignment'
      responses:
        '201':
          description: Successfully added the assignment
          schema:
            type: object
            properties:
              message:
                type: string
                description: Succesfully added the assignment
              createdClass:
                type: object
                properties:
                  title:
                    type: string
                  description:
                    type: string
                  deadline:
                    type: string
                  url:
                    type: string
                  _id:
                    type: string
                  request:
                    type: object
                    properties:
                      type:
                        type: string
                        description: Type of request that may help
                      description:
                        type: string
                        description: Get Assignment Info
                      url:
                        type: string
                        description: URL with Assignment Id
        '500':
          description: Internal Server Error
  '/assigment/v1/assignments/{assignment_id}':
    get:
      tags:
        - ASSIGNMENTS
      summary: Return a specific assignment
      description: Return the assignment with the ID passed by the URL
      operationId: getAssignment
      produces:
        - application/json
      parameters:
        - name: assignment_id
          in: path
          description: ID to get a specific assignment
          required: true
          type: string
      responses:
        '200':
          description: Successfully found the assignment
          schema:
            type: object
            properties:
              class:
                type: object
                properties:
                  _id:
                    type: string
                  title:
                    type: string
                  description:
                    type: string
                  deadline:
                    type: string
                  url:
                    type: string
                  request:
                    type: object
                    properties:
                      type:
                        type: string
                        description: Type of request that may help
                      description:
                        type: string
                        description: Get Assignment Info
                      url:
                        type: string
                        description: URL with Assignment Id
        '404':
          description: Assignment not found
        '500':
          description: Internal Server Error
    patch:
      tags:
        - ASSIGNMENTS
      summary: Modify a specific assignment
      description: Modify the assignment with the ID passed by the URL
      operationId: patchAssignment
      produces:
        - application/json
      parameters:
        - name: assignment_id
          in: path
          description: ID to get a specific assignment
          required: true
          type: string
        - name: body
          in: body
          description: Column in the DB that will be changed
          required: true
          schema:
            $ref: '#/definitions/updateAssignment'
      responses:
        '200':
          description: Assignment successfully updated
          schema:
            type: object
            properties:
              message:
                type: string
              request:
                type: object
                properties:
                  type:
                    type: string
                    description: Type of request that may help
                  description:
                    type: string
                    description: Get Modified Assignment
                  url:
                    type: string
                    description: URL with Assignment Id
        '500':
          description: Internal Server Error
    delete:
      tags:
        - ASSIGNMENTS
      summary: Delete an assignment
      description: Delete the assignment with the ID passed in the URL
      operationId: deleteAssignment
      produces:
        - application/json
      parameters:
        - name: assignment_id
          in: path
          description: Assignment to delete
          required: true
          type: string
      responses:
        '200':
          description: Assignment successfully deleted
          schema:
            type: object
            properties:
              message:
                type: string
        '404':
          description: Assignment not found
        '500':
          description: Internal Server Error
  /assigment/v1/classes:
    get:
      tags:
        - CLASSES
      summary: Return all classes
      description: Return all classes in the DB
      operationId: getClasses
      produces:
        - application/json
      responses:
        '200':
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/Class'
        '500':
          description: Internal Server Error
    post:
      tags:
        - CLASSES
      summary: Create a class
      description: Create a class in the DB
      operationId: createClasses
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          description: User object that needs to be added to the DB
          required: true
          schema:
            $ref: '#/definitions/Class'
      responses:
        '201': 
          description: Assignment successfully deleted
          schema:
            type: object
            properties:
              message:
                type: string
        '500':
          description: Internal Server Error
  '/assigment/v1/classes/{class_id}':
    get:
      tags:
        - CLASSES
      summary: Return a specific class
      description: Return a specific class in the DB
      operationId: getClass
      produces:
        - application/json
      parameters:
        - name: class_id
          in: path
          description: ID to get a specific class
          required: true
          type: string
      responses:
        '200':
          description: URL with Class Id
          schema:
            type: object
            properties:
              class:
                type: object
                properties:
                  name:
                    type: string
                  description:
                    type: string
                  keyword:
                    type: integer
                  request:
                    type: object
                    properties:
                      type:
                        type: string
                        description: Type of request that may help
                      description:
                        type: string
                        description: Get Assignment Info
                      url:
                        type: string
                        description: URL with Assignment Id
        '404':
          description: Class not found
        '500':
          description: Internal Server Error
    patch:
      tags:
        - CLASSES
      summary: Modify a specific class
      description: Modify the class with the ID passed by the URL
      operationId: patchClass
      produces:
        - application/json
      parameters:
        - name: class_id
          in: path
          description: ID to get a specific class
          required: true
          type: string
        - name: body
          in: body
          description: Column in the DB that will be changed
          required: true
          schema:
            $ref: '#/definitions/updateClass'
      responses:
        '200':
          description: Class successfully updated
          schema:
            type: object
            properties:
              message:
                type: string
              request:
                type: object
                properties:
                  type:
                    type: string
                    description: Type of request that may help
                  description:
                    type: string
                    description: Get Modified Assignment
                  url:
                    type: string
                    description: URL with Assignment Id
        '500':
          description: Internal Server Error
    delete:
      tags:
        - CLASSES
      summary: Delete a class
      description: Delete the class with the ID passed in the URL
      operationId: deleteClass
      produces:
        - application/json
      parameters:
        - name: class_id
          in: path
          description: Class to delete
          required: true
          type: string
      responses:
        '200':
          description: Class successfully deleted
          schema:
            type: object
            properties:
              message:
                type: string
        '404':
          description: Class not found
        '500':
          description: Internal Server Error
  /assigment/v1/deliveries:
    get:
      tags:
        - DELIVERIES
      summary: Return all deliveries
      description: Return all deliveries in the DB
      operationId: getDeliveries
      produces:
        - application/json
      responses:
        '200':
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/Delivery'
        '404':
          description: Assignment not found
        '500':
          description: Internal Server Error
<<<<<<< HEAD
  /deliveries/{assignment_id}:
=======
  '/assigment/v1/deliveries/{assignment_id}':
>>>>>>> develop
    post:
      tags:
        - DELIVERIES
      summary: Create a delivery
      description: Create a new delivery in the DB based on the Assignment ID
      operationId: createDelivery
      produces:
        - application/json
      parameters:
        - name: deliveryInfo
          in: body
          description: User object that needs to be added to the DB
          required: true
          schema:
            $ref: '#/definitions/Delivery'
        - name: assignment_id
          in: path
          description: ID to get a specific class
          required: true
          type: string
      responses:
        '201':
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/Delivery'
        '404':
          description: Assignment not found
        '500':
          description: Internal Server Error
definitions:
  User:
    type: object
    required:
      - email
      - password
    properties:
      _id:
        type: string
        description: It is the random ID given by MongoDB
      email:
        type: string
        example: test@gmail.com
      password:
        type: string
        description: Password that will be encoded
  Class:
    type: object
    required:
      - name
      - description
      - keyword
    properties:
      _id:
        type: string
        description: It is the random ID given by MongoDB
      name:
        type: string
        example: Math 2
      description:
        type: string
      keyword:
        type: integer
        uniqueItems: true
        description: A 6 digit number that is needed to enter the class
  Assignment:
    type: object
    required:
      - title
      - url
      - deadline
    properties:
      _id:
        type: string
        description: It is the random ID given by MongoDB
      title:
        type: string
        example: Exercises on square root
      description:
        type: string
      deadline:
        type: object
        properties:
          year:
            type: integer
          month:
            type: integer
          day:
            type: integer
      url:
        type: string
        description: The url to the Google Drive folder of the assignment
  updateAssignment:
    description: For changing multiple values just pass an array of this objects
    type: object
    required:
      - propName
      - value
    properties:
      propName:
        type: string
        description: Column name
        example: title
      value:
        type: string
        example: New Assignment
  updateClass:
    description: For changing multiple values just pass an array of this objects
    type: object
    required:
      - propName
      - value
    properties:
      propName:
        type: string
        description: Column name
        example: description
      value:
        type: string
        example: New Class Description
  Delivery:
    type: object
    required: 
      - url
      - assignmentId
    properties:
      _id: 
        type: string
        description: It is the random ID given by MongoDB
      url:
        type: string
        description: The URL from Google Drive's folder
      assignmentId:
        type: string
        description: The ID related to the specific assignment